# WEB SCRAPPING

# 0.0 IMPORTS

In [50]:
from bs4 import BeautifulSoup
import requests
import time
import random
import pandas as pd
from datetime import datetime
import os
import numpy as np


import warnings
warnings.filterwarnings("ignore")

## 0.1 Get Data From OLX

### Page Extracrion

In [3]:
# set page
url_inicial = 'https://www.olx.com.br/autos-e-pecas/carros-vans-e-utilitarios?o=1'

# set user agent to authenticate the page
headers = {'User-Agent':'Chrome/27.0.1453.93'}

# checking url
pagina_inicial=requests.get(url_inicial, headers=headers)
print(pagina_inicial)

<Response [200]>

In [4]:
# parsing bytes to bs4
pagina_inicial=BeautifulSoup(pagina_inicial.content,'html.parser')
print(type(pagina_inicial))

<class 'bs4.BeautifulSoup'>

In [5]:
# print formated page content
# print(pagina_inicial.prettify())

### Page Elements Extraction

### Accessing Page Elements
- the function **find_all** access all elements available with the value informed(class, tag, name or any selector)
- the output is a list
    - take care when another elements have the same id, in this case *class*
    - OLX page have 50 metadata of ads, there are others that use different classes

In [6]:
# ADS extraction
anuncios=pagina_inicial.find_all(class_='sc-1fcmfeb-1 kntIvV')
# anuncios[:5]
# h3us20-6 fetGj

In [1]:
# convert to text
# [x.get_text() for x in anuncios][:5]

In [8]:
# Title Extraction
titulos=pagina_inicial.find_all(class_='kgl1mq-0 iYdPim sc-bdVaJa daxpJj')
titulos=[x.get_text() for x in titulos]
titulos[:5]

['Land Rover Range Sport HSE 5P',
 'VOLKSWAGEN NIVUS HIGHLINE 2021 ',
 'Volkswagen Nivus Highline 2021 C/ 17.000 Km',
 'Fiesta Sedan 2009/10',
 'Citroen C3 Picasso Glx M 2012']

In [9]:
# titulo=[x.get_text() for x in titulos]
# titulos[:5]

### COMPLETE EXTRACTION

In [10]:
# ID
id=pagina_inicial.find_all(class_='sc-12rk7z2-1') 
ids=[x.get_attribute_list('data-lurker_list_id')[0] for x in id]

# LINK
tags_links=pagina_inicial.find_all(name='a', class_='sc-12rk7z2-1')
links=[x.get_attribute_list('href')[0] for x in tags_links]

# TITLE
titulo=pagina_inicial.find_all(class_='kgl1mq-0 iYdPim sc-bdVaJa daxpJj')
titulo=[x.get_text() for x in titulo]

# INFOS
infos=pagina_inicial.find_all(class_='sc-1ftm7qz-2 ilPFvN')
infos=[x.get_text() for x in infos]

# VALUES
valor=pagina_inicial.find_all(class_='m7nrfa-0')
valor=[x.get_text() for x in valor]

# LOCATION
local=pagina_inicial.find_all(class_='sc-1c3ysll-0')
local=[x.get_text() for x in local]

# DATA
data=pagina_inicial.find_all(class_='sc-11h4wdr-0')
data=[x.get_text() for x in data]

In [11]:
# Verifying how many elements each class is storing
len(ids), len(links), len(titulo), len(infos), len(valor), len(local), len(data)

(50, 50, 30, 50, 50, 50, 50)

In [12]:
# Verifying ADS
i=0
ids[i], links[i], titulo[i], infos[i], valor[i], local[i], data[i]

('1024549891',
 'https://mg.olx.com.br/regiao-de-uberlandia-e-uberaba/autos-e-pecas/carros-vans-e-utilitarios/land-rover-range-sport-hse-5p-1024549891',
 'Land Rover Range Sport HSE 5P',
 '62.700 km\xa0\xa0|\xa0\xa0Câmbio: Automático\xa0\xa0|\xa0\xa0Diesel\xa0\xa0|\xa0\xa0',
 'R$ 529.900',
 'Uberlândia -  MG',
 'Hoje, 11:32')

### Converting into Dataframe

In [13]:
df = pd.DataFrame(list(zip(ids, titulo, infos, valor, local, data, links)),
                  columns = ['ID', 'TITULO', 'INFOS', 'VALOR', 'LOCAL', 'DATA_ANUNCIO','LINK'])

dataHora=datetime.now().strftime("%Y%m%d%H%M")
df.to_csv(f'/home/tc0019/DS/car_price_prediction/data/raw/metadados_olx_{dataHora}.csv', index=False)

Final DF

In [14]:
df_metadados=pd.DataFrame()
data_coleta=datetime.now().date()

print("==== COLETA INICIADA ====")
for pagina in range(1,5):
    print(f'{pagina}', end=' - ')




    # set pagination
    url_inicial = f'https://www.olx.com.br/autos-e-pecas/carros-vans-e-utilitarios?o={pagina}'
    # checking url
    pagina_inicial=requests.get(url_inicial, headers=headers)
    print(pagina_inicial)

    # parsing bytes to bs4 so its possible to use all classes and methods
    pagina_inicial=BeautifulSoup(pagina_inicial.content,'html.parser')

    # ID
    id=pagina_inicial.find_all(class_='sc-12rk7z2-1') 
    ids=[x.get_attribute_list('data-lurker_list_id')[0] for x in id]

    # LINK
    tags_links=pagina_inicial.find_all(name='a', class_='sc-12rk7z2-1')
    links=[x.get_attribute_list('href')[0] for x in tags_links]

    # TITLE
    titulo=pagina_inicial.find_all(class_='kgl1mq-0 iYdPim sc-bdVaJa daxpJj')
    titulo=[x.get_text() for x in titulo]

    # INFOS
    infos=pagina_inicial.find_all(class_='sc-1ftm7qz-2 ilPFvN')
    infos=[x.get_text() for x in infos]

    # VALUES
    valor=pagina_inicial.find_all(class_='m7nrfa-0')
    valor=[x.get_text() for x in valor]

    # LOCATION
    local=pagina_inicial.find_all(class_='sc-1c3ysll-0')
    local=[x.get_text() for x in local]

    # DATA
    data=pagina_inicial.find_all(class_='sc-11h4wdr-0')
    data=[x.get_text() for x in data]

    ## verifications
    print(len(ids), len(links), len(titulo), len(infos), len(valor), len(local), len(data))

    # temp df
    df = pd.DataFrame(list(zip(ids, titulo, infos, valor, local, data, links)),
                  columns = ['ID', 'TITULO', 'INFOS', 'VALOR', 'LOCAL', 'DATA_ANUNCIO','LINK'])

    # check data collection
    if len(df)>0:
        # insert in df_raw
        df.loc[:, 'DATA_COLETA_METADADOS']=data_coleta
        df_metadados=pd.concat([df_metadados,df])
    print('==== SALVANDO ====')
    dataHora=datetime.now().strftime("%Y%m%d%H%M")
    df_metadados.to_csv(f'/home/tc0019/DS/car_price_prediction/data/raw/metadados_olx_cars_{dataHora}.csv', index=False)

    # To not supercharge the server, create a space btw requests 3 to 5 seconds works just fine
    time.sleep(random.randint(1,5))

print('==== FINALIZADO ====')

==== COLETA INICIADA ====
1 - <Response [200]>
50 50 30 50 50 50 50
==== SALVANDO ====/n
2 - <Response [200]>
50 50 46 50 50 50 50
==== SALVANDO ====/n
3 - <Response [200]>
50 50 40 50 50 50 50
==== SALVANDO ====/n
4 - <Response [200]>
50 50 40 50 50 50 50
==== SALVANDO ====/n
==== FINALIZADO ====

## 0.2 Load Data

In [62]:
df_metadados=pd.DataFrame()

for arquivo in os.listdir('/home/tc0019/DS/car_price_prediction/data/raw/year/'):
    # print(arquivo)
    df_metadados=pd.concat([df_metadados, pd.read_csv('/home/tc0019/DS/car_price_prediction/data/raw/year/'+arquivo)])
df_metadados.reset_index(drop=True, inplace=True)
df_metadados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122890 entries, 0 to 122889
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID                     122890 non-null  int64
 1   TITULO                 122890 non-null  object
 2   INFOS                  122890 non-null  object
 3   VALOR                  117147 non-null  object
 4   LOCAL                  122890 non-null  object
 5   DATA_ANUNCIO           122890 non-null  object
 6   LINK                   122890 non-null  object
 7   DATA_COLETA_METADADOS  122890 non-null  object
 8   DATA_COLETA_COMPLETA   0 non-null       float64
 9   UF                     89371 non-null   object
 10  Ano                    104947 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 10.3+ MB

In [63]:
# drop duplicated ID's
df_metadados_limpos=df_metadados.drop_duplicates(subset=['ID']).reset_index(drop=True)
df_metadados_limpos.shape

(101000, 11)

In [64]:
df_metadados_limpos.head()

,ID,TITULO,INFOS,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,DATA_COLETA_COMPLETA,UF,Ano
0,1028211161,Silverado 99.28 mil,0 km | Câmbio: Manual | Diesel |,R$ 28.000,"Maracanaú, Pajuçara - DDD 85","Hoje, 21:09",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,NaN,ce,NaN
1,1026520834,Nissan Kicks SL CVT 2019,32.124 km | Câmbio: Automático | Flex |,R$ 103.900,"Fortaleza, Tauape - DDD 85","Hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,NaN,ce,2019.0
2,1016380244,HRV 2016 LX 1.8 Flex!,85.000 km | Câmbio: Automático | Flex |,R$ 86.900,"Fortaleza, Salinas - DDD 85","Hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,NaN,ce,2016.0
3,964674083,Hilux SW4 SRX 2019 Diesel.,62.000 km | Câmbio: Automático | Diesel |,R$ 305.900,"Fortaleza, Salinas - DDD 85","Hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,NaN,ce,2019.0
4,999438981,MITSUBISHI PAJERO DAKAR HPE 3.2 4x4 T.I Dies 5...,61.605 km | Câmbio: Automático | Diesel |,R$ 169.900,"Fortaleza, Eng Luciano Cavalcante - DDD 85","Hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,NaN,ce,2015.0

# 1.0 Data Description

## 1.1 Check NA

In [65]:
print("==== INDICE DE NULOS NOS ATRIBUTOS ====")
dados = df_metadados_limpos.copy()
(dados.isnull().sum()/len(dados)*100).sort_values(ascending = False)

==== INDICE DE NULOS NOS ATRIBUTOS ====

DATA_COLETA_COMPLETA     100.000000
Ano                       15.450495
UF                        12.785149
VALOR                      3.378218
ID                         0.000000
TITULO                     0.000000
INFOS                      0.000000
LOCAL                      0.000000
DATA_ANUNCIO               0.000000
LINK                       0.000000
DATA_COLETA_METADADOS      0.000000
dtype: float64

In [66]:
# Drop NAN values
df_metadados_limpos.drop_duplicates(subset=['VALOR'], inplace=True)

# Drop Columns with many NAN values
df_metadados_limpos.drop(columns=['DATA_COLETA_COMPLETA'], inplace=True)

In [67]:
df_metadados_limpos.head()

,ID,TITULO,INFOS,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,UF,Ano
0,1028211161,Silverado 99.28 mil,0 km | Câmbio: Manual | Diesel |,R$ 28.000,"Maracanaú, Pajuçara - DDD 85","Hoje, 21:09",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,NaN
1,1026520834,Nissan Kicks SL CVT 2019,32.124 km | Câmbio: Automático | Flex |,R$ 103.900,"Fortaleza, Tauape - DDD 85","Hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2019.0
2,1016380244,HRV 2016 LX 1.8 Flex!,85.000 km | Câmbio: Automático | Flex |,R$ 86.900,"Fortaleza, Salinas - DDD 85","Hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2016.0
3,964674083,Hilux SW4 SRX 2019 Diesel.,62.000 km | Câmbio: Automático | Diesel |,R$ 305.900,"Fortaleza, Salinas - DDD 85","Hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2019.0
4,999438981,MITSUBISHI PAJERO DAKAR HPE 3.2 4x4 T.I Dies 5...,61.605 km | Câmbio: Automático | Diesel |,R$ 169.900,"Fortaleza, Eng Luciano Cavalcante - DDD 85","Hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2015.0

## 1.2 PREPARAÇÃO/TRATAMENTO NOS DADOS

- Com base no que foi analisado inicialmente nos dados, vamos realizar os seguintes procedimentos para tratar os dados
    - Converter todos os atributos para minúsculo
    - INFOS: dividir em km, cambio e combustivel em novas colunas. Retirar ponto do KM e converter para float
    - VALOR: limpar R$, retirar ponto e converter para float
    - LOCAL: excluir coluna (já temos a UF)
    - DATA_ANUNCIO: excluir coluna
    - LINK: excluir coluna
    - DATA_COLETA: excluir coluna.
    - UF: corrigir linhas NULAS utilizando a coluna LINK para recuperar a UF

In [68]:
df_metadados_limpos = df_metadados_limpos.applymap(lambda x: x.lower() if type(x) == str else x)
df_metadados_limpos.head()

,ID,TITULO,INFOS,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,UF,Ano
0,1028211161,silverado 99.28 mil,0 km | câmbio: manual | diesel |,r$ 28.000,"maracanaú, pajuçara - ddd 85","hoje, 21:09",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,NaN
1,1026520834,nissan kicks sl cvt 2019,32.124 km | câmbio: automático | flex |,r$ 103.900,"fortaleza, tauape - ddd 85","hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2019.0
2,1016380244,hrv 2016 lx 1.8 flex!,85.000 km | câmbio: automático | flex |,r$ 86.900,"fortaleza, salinas - ddd 85","hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2016.0
3,964674083,hilux sw4 srx 2019 diesel.,62.000 km | câmbio: automático | diesel |,r$ 305.900,"fortaleza, salinas - ddd 85","hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2019.0
4,999438981,mitsubishi pajero dakar hpe 3.2 4x4 t.i dies 5...,61.605 km | câmbio: automático | diesel |,r$ 169.900,"fortaleza, eng luciano cavalcante - ddd 85","hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2015.0

INFOS

In [69]:
df_metadados_limpos.INFOS[0]

'0 km\xa0\xa0|\xa0\xa0câmbio: manual\xa0\xa0|\xa0\xa0diesel\xa0\xa0|\xa0\xa0'

In [70]:
## cleaning unwanted characters
infos = df_metadados_limpos.INFOS[:].str.replace('km|câmbio|:|\xa0|\.|\s+','',regex=True)

In [71]:
infos=infos.str.replace('\|$', "",regex=True)
infos=infos.str.split('|')
infos

0                 [0, manual, diesel]
1           [32124, automático, flex]
2           [85000, automático, flex]
3         [62000, automático, diesel]
4         [61605, automático, diesel]
                     ...
100773      [51000, automático, flex]
100776      [69583, automático, flex]
100843      [94000, automático, flex]
100859          [0, automático, flex]
100959    [86000, automático, diesel]
Name: INFOS, Length: 6080, dtype: object

In [72]:
lista_infos=[i for i in infos]
lista_infos[:10]

[['0', 'manual', 'diesel'],
 ['32124', 'automático', 'flex'],
 ['85000', 'automático', 'flex'],
 ['62000', 'automático', 'diesel'],
 ['61605', 'automático', 'diesel'],
 ['50979', 'automático', 'flex'],
 ['59000', 'manual', 'flex'],
 ['95700', 'manual', 'flex'],
 ['17000', 'automático', 'gasolina'],
 ['36000', 'manual', 'flex']]

In [73]:
infos_veiculo = pd.DataFrame(lista_infos, columns= ['KM', 'CAMBIO', 'COMBUSTIVEL'])
df_metadados_limpos_2 = pd.concat([df_metadados_limpos, infos_veiculo], axis=1)
df_metadados_limpos_2.to_csv('/home/tc0019/DS/car_price_prediction/data/raw/metadados_limpos_2.csv')
df_metadados_limpos_2.head()

,ID,TITULO,INFOS,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,UF,Ano,KM,CAMBIO,COMBUSTIVEL
0,1.028211e+09,silverado 99.28 mil,0 km | câmbio: manual | diesel |,r$ 28.000,"maracanaú, pajuçara - ddd 85","hoje, 21:09",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,NaN,0,manual,diesel
1,1.026521e+09,nissan kicks sl cvt 2019,32.124 km | câmbio: automático | flex |,r$ 103.900,"fortaleza, tauape - ddd 85","hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2019.0,32124,automático,flex
2,1.016380e+09,hrv 2016 lx 1.8 flex!,85.000 km | câmbio: automático | flex |,r$ 86.900,"fortaleza, salinas - ddd 85","hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2016.0,85000,automático,flex
3,9.646741e+08,hilux sw4 srx 2019 diesel.,62.000 km | câmbio: automático | diesel |,r$ 305.900,"fortaleza, salinas - ddd 85","hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2019.0,62000,automático,diesel
4,9.994390e+08,mitsubishi pajero dakar hpe 3.2 4x4 t.i dies 5...,61.605 km | câmbio: automático | diesel |,r$ 169.900,"fortaleza, eng luciano cavalcante - ddd 85","hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2015.0,61605,automático,diesel

VALOR

In [74]:
df_metadados_limpos_2.loc[:, 'VALOR_LIMPO'] = df_metadados_limpos_2.VALOR.str.replace('r\$|\.|\s+', '',regex=True)
df_metadados_limpos_2.head()

,ID,TITULO,INFOS,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,UF,Ano,KM,CAMBIO,COMBUSTIVEL,VALOR_LIMPO
0,1.028211e+09,silverado 99.28 mil,0 km | câmbio: manual | diesel |,r$ 28.000,"maracanaú, pajuçara - ddd 85","hoje, 21:09",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,NaN,0,manual,diesel,28000
1,1.026521e+09,nissan kicks sl cvt 2019,32.124 km | câmbio: automático | flex |,r$ 103.900,"fortaleza, tauape - ddd 85","hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2019.0,32124,automático,flex,103900
2,1.016380e+09,hrv 2016 lx 1.8 flex!,85.000 km | câmbio: automático | flex |,r$ 86.900,"fortaleza, salinas - ddd 85","hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2016.0,85000,automático,flex,86900
3,9.646741e+08,hilux sw4 srx 2019 diesel.,62.000 km | câmbio: automático | diesel |,r$ 305.900,"fortaleza, salinas - ddd 85","hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2019.0,62000,automático,diesel,305900
4,9.994390e+08,mitsubishi pajero dakar hpe 3.2 4x4 t.i dies 5...,61.605 km | câmbio: automático | diesel |,r$ 169.900,"fortaleza, eng luciano cavalcante - ddd 85","hoje, 21:08",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2015.0,61605,automático,diesel,169900

UF

In [75]:
(df_metadados_limpos_2.UF.nunique(),df_metadados_limpos_2.UF.unique())

(21,
 array(['ce', 'go', 'pb', 'sp', 'pr', 'df', nan, 'to', 'mt', 'mg', 'ba',
        'pe', 'rs', 'ro', 'pi', 'ms', 'rr', 'se', 'ma', 'pa', 'sc', 'es'],
       dtype=object))

In [76]:
# getting uf from link column
df_metadados_limpos_2.LINK[:5].apply(lambda x: x[8:10])

0    ce
1    ce
2    ce
3    ce
4    ce
Name: LINK, dtype: object

In [77]:
# insert column value only with none value
ids_uf_none=df_metadados_limpos_2.query('UF.isnull()', engine='python')['ID']
ids_uf_none=ids_uf_none.dropna()

In [78]:
# replacing NONE with UF
df_metadados_limpos_2.loc[df_metadados_limpos_2.ID.isin(ids_uf_none),'UF'] = df_metadados_limpos_2.query(f"ID in {ids_uf_none.tolist()}").LINK.apply(lambda x: x[8:10])

In [79]:
print("==== INDICE DE NULOS NOS ATRIBUTOS ====")
dados = df_metadados_limpos_2.copy()
(dados.isnull().sum()/len(dados)*100).sort_values(ascending=False)

==== INDICE DE NULOS NOS ATRIBUTOS ====

Ano                      52.048260
COMBUSTIVEL              44.809203
CAMBIO                   43.948747
VALOR                    43.144407
VALOR_LIMPO              43.144407
ID                       43.135054
TITULO                   43.135054
INFOS                    43.135054
LOCAL                    43.135054
DATA_ANUNCIO             43.135054
LINK                     43.135054
DATA_COLETA_METADADOS    43.135054
UF                       43.135054
KM                       43.135054
dtype: float64

In [81]:
df_metadados_limpos_2.sample(10)

,ID,TITULO,INFOS,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,UF,Ano,KM,CAMBIO,COMBUSTIVEL,VALOR_LIMPO
81074,1.020398e+09,som automotivo gls são luís,20.000 km | câmbio: automático | flex |,r$ 190,"são luís, planalto vinhais ii - ddd 98","14 abr, 10:58",https://ma.olx.com.br/regiao-de-sao-luis/autos...,2022-05-04,ma,2020,NaN,NaN,NaN,190
1555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,automático,diesel,NaN
197,1.008058e+09,jeep compass 2017/2018,35.000 km | câmbio: automático | flex |,r$ 124.990,"fortaleza, aldeota - ddd 85","hoje, 19:55",https://ce.olx.com.br/fortaleza-e-regiao/autos...,2022-05-04,ce,2018.0,124000,manual,flex,124990
1676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81000,manual,flex,NaN
15067,9.010339e+08,cruze ltz 2015 ( 64.000 km) raridade novo,64.000 km | câmbio: automático | flex |,r$ 71.600,"limeira, jardim nova itália - ddd 19","hoje, 10:51",https://sp.olx.com.br/grande-campinas/autos-e-...,2022-05-04,sp,2015,NaN,NaN,NaN,71600
15975,9.691529e+08,citroen c4 cactus 1.6 vti 120 feel eat6 2021,22.553 km | câmbio: automático | flex |,r$ 99.790,"santo andré, tamanduateí 8 - ddd 11","hoje, 09:50",https://sp.olx.com.br/sao-paulo-e-regiao/autos...,2022-05-04,sp,2021,NaN,NaN,NaN,99790
86412,9.373388e+08,ford ecosport 1.6 freestyle completa c/ r$ 1.0...,98 km | câmbio: manual | flex |,r$ 34.901,"belém, pedreira - ddd 91","28 abr, 12:00",https://pa.olx.com.br/regiao-de-belem/autos-e-...,2022-05-04,pa,2011.0,NaN,NaN,NaN,34901
18370,1.015822e+09,chevrolet cruze 1.4 turbo lt 16v flex 4p autom...,0 km | câmbio: automático | flex |,r$ 137.400,"ponta grossa, chapada - ddd 42","ontem, 20:23",https://pr.olx.com.br/regiao-de-ponta-grossa-e...,2022-05-04,pr,2022.0,NaN,NaN,NaN,137400
70593,1.021969e+09,sw4 srx 21/21 7 lugares,10.700 km | câmbio: automático | diesel |,r$ 421.900,"boa vista, mecejana - ddd 95","18 abr, 20:44",https://rr.olx.com.br/roraima/autos-e-pecas/ca...,2022-05-04,rr,2021.0,NaN,NaN,NaN,421900
4867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159000,automático,flex,NaN